* {
    margin-top: 20px;
}
#search > button {
    border: 1px solid rgb(48, 189, 175);
    color: rgb(48, 189, 175);
    background-color: rgb(241, 240, 237);
    border-radius: 12px;
    width: 120px;
    height: 24px;
    margin-left: 50px;
    font-weight: bold;

}

#plus > button {
    border-radius: 15px;
    background-color: rgb(48, 189, 175);
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(48, 189, 175);
    margin-left: 50px;
    font-weight: bold;

}

#create > button {
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: rgb(70, 109, 235);
    color: white;
    margin-left: 50px;
    padding: 5px;
    width: 140px;
}